[package]
name = "fatfs"
version = "0.1.0"
edition = "2021"

[dependencies]
userlib = { path = "../../userlib" }
usb = { path = "../usb" }

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
